
! ----------------------
! - ROFI config --------
! ----------------------

! Window opacity
rofi.opacity:                        85
! Window width
rofi.width:                          100
! Number of lines
rofi.lines:                          5
! Number of columns
rofi.columns:                        1
! Font to use
rofi.font:                           System San Francisco Display 20
! Color scheme for normal row
rofi.color-normal:                   #fdf6e3,#002b36,#eee8d5,#586e75,#eee8d5
! Color scheme for urgent row
rofi.color-urgent:                   #fdf6e3,#dc322f,#eee8d5,#dc322f,#fdf6e3
! Color scheme for active row
rofi.color-active:                   #fdf6e3,#268bd2,#eee8d5,#268bd2,#fdf6e3
! Color scheme window
rofi.color-window:                   #fdf6e3,#002b36
! Border width
rofi.bw:                             0
! Location on screen
rofi.location:                       0
! Padding
rofi.padding:                        450
! Y-offset relative to location
rofi.yoffset:                        0
! X-offset relative to location
rofi.xoffset:                        0
! Always show number of lines
rofi.fixed-num-lines:                false
! Terminal to use
rofi.terminal:                       rofi-sensible-terminal
! Use levenshtein sorting
rofi.levenshtein-sort:               false
! Row height (in chars)
rofi.eh:                             2
! Enable auto select mode
rofi.auto-select:                    false
! Do a more fuzzy matching
rofi.fuzzy:                          false
! Use glob matching
rofi.glob:                           false
! Use regex matching
rofi.regex:                          false
! Margin between rows
rofi.line-margin:                    2
! Separator style (none, dash, solid)
rofi.separator-style:                none
! Hide scroll-bar
rofi.hide-scrollbar:                 false
! Fullscreen
rofi.fullscreen:                     false
! Scrollbar width
rofi.scrollbar-width:                8
! Scrolling method. (0: Page, 1: Centered)
rofi.scroll-method:                  0

